@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0 5vw;
  font-size: 16px;
  color: #212121;
  background-color: #f1fafa;
}

a {
  color: #212121;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  text-transform: capitalize;
}

.nav-logo a {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link a {
  font-size: 1rem;
  font-weight: 500;
}

.nav-icon {
  text-transform: uppercase;
}